<div class="div1">
    <h1>Descubrí la mejor manera de viajar por Argentina y viví una experiencia inolvidable con <span class="TravelBooker">TravelBooker!</span></h1>
    <img src="../../../assets/ruta_argentina.jpg" alt="aqui">
</div>

<div class="div2">
    <h2>Bienvenido a TravelBooker!</h2>

    <div class="contenedor-horizontal">
        <div class="imagen-izquierda">
            <img src="../../../assets/imagen1.jpg" alt="Imagen 1">
        </div>
        
        <div class="formulario-busqueda">
            <h2>Encontrate con tu próximo viaje ideal aquí</h2>

            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="¿Desde dónde viajás?" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" #origenInput required>
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad">
                      {{ciudad}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="¿Hasta dónde viajás?" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto"#destinoInput required>
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad">
                      {{ciudad}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <label for="fecha">Elegí una fecha: </label>
                <input type="date" id="fecha" name="fecha" [min]="obtenerFecha()" #fechaInput required> 
                <!-- [min]="obtenerFecha()" -->
                
                <button type="button" (click)="buscarViaje(origenInput.value,destinoInput.value,fechaInput.value)">Buscar</button>
              </form>

        </div>
        
        <div class="imagen-derecha">
            <img src="../../../assets/imagen2.jpg" alt="Imagen 2">
        </div>
    </div>
</div>


