<div class="div1">
    <h1>Descubrí la mejor manera de viajar por Argentina y viví una experiencia inolvidable con <span class="TravelBooker">TravelBooker!</span></h1>
    <img src="../../../assets/ruta_argentina.jpg" alt="aqui">
</div>

<div class="div2">
    <h2>Bienvenido a TravelBooker!</h2>

    <div class="contenedor-horizontal">
        <div class="imagen-izquierda">
            <img src="../../../assets/imagen1.jpg" alt="Imagen 1">
        </div>
        
        <div class="formulario-busqueda">
            <h2>Encontrate con tu próximo viaje ideal aquí</h2>
            <form action="" method="POST">
                <label for="origen">Origen:</label>
                <input type="text" id="origen" name="origen" required>
                <label for="destino">Destino:</label>
                <input type="text" id="destino" name="destino" required>
                <label for="fecha">Fecha:</label>
                <input type="date" id="fecha" name="fecha" required>
                <button type="submit">Buscar</button>
            </form>
        </div>
        
        <div class="imagen-derecha">
            <img src="../../../assets/imagen2.jpg" alt="Imagen 2">
        </div>
    </div>
</div>


