<div>
    <div class="imagen">
        <img src="../../../../assets/viaje.jpg" alt="">
    </div>
    <div class="texto">
        <h1>La Empresa</h1>
        <p>Travel Booker es una empresa que ha estado en el corazón del transporte terrestre desde su fundación en 1950. Nos enorgullecemos de nuestro compromiso continuo con la excelencia en el servicio y la satisfacción del cliente. Con décadas de experiencia en la industria, hemos establecido un estándar de calidad que sigue siendo insuperable.</p><br>
        <h2>Misión</h2>
        <p>Nuestra misión en Travel Booker es simple pero poderosa: brindar a nuestros clientes una experiencia de viaje excepcional en cada viaje que emprendan con nosotros. Nos esforzamos por superar las expectativas de nuestros pasajeros en cada punto de contacto, desde el momento en que reservan su boleto hasta su llegada a su destino final.</p>
        <h2>Visión</h2>
        <p>Nos vemos a nosotros mismos como líderes en el mercado de transporte de pasajeros, no solo a nivel nacional, sino también a nivel regional. En Travel Booker, estamos constantemente innovando y expandiéndonos para satisfacer las necesidades cambiantes de nuestros clientes y para posicionarnos como la opción preferida de viaje en toda la región del Mercosur.</p>
    </div>
</div>